#header a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-family: "Lato";
}
#header a:hover {
  color: #ff5200;
}

main a, .section-banner .banner-call a, #header ul #btn-register, #header ul .btn {
  text-decoration: none;
  border: 1px solid transparent;
  transition: 0.3s;
  background-color: #ff5200;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
main a:hover, .section-banner .banner-call a:hover, #header ul #btn-register:hover, #header ul .btn:hover {
  border: 1px solid #ff5200;
  background-color: transparent;
  color: #ff5200;
}

main .div-jobs h2, main h2 {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

* {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 87px;
  padding: 1.5rem 2rem;
  background-color: #000;
}
#header a {
  margin: 5px 10px;
}
#header ul {
  display: flex;
  align-items: center;
}
#header ul .btn {
  padding: 0.7rem 1rem;
  margin: 5px 10px;
}
#header ul #btn-register {
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.3s;
}
#header .div-link-brand {
  font-size: 2rem;
  font-weight: lighter;
}
#header .fa-brain {
  margin-right: 5px;
  height: 36px;
  width: 32px;
}

.section-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/office.jpg);
  height: 76vh;
  margin-top: 87px;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  font-family: "Lato", sans-serif;
}
.section-banner .banner-call {
  text-align: center;
  margin: auto;
}
.section-banner .banner-call h1,
.section-banner .banner-call h2 {
  color: #fff;
  font-weight: bold;
  text-shadow: 3px 2px #000;
}
.section-banner .banner-call h2 {
  font-size: 3rem;
}
.section-banner .banner-call h1 {
  font-size: 4rem;
  margin-top: 2rem;
}
.section-banner .banner-call a {
  color: #fff;
  margin-top: 1.5rem;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  display: inline-block;
}

main {
  position: static;
  padding: 2rem 0;
  margin: 2rem 0;
  text-align: center;
}
main a {
  align-items: center;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  margin: 1rem auto;
}
main .section-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem;
  margin-top: 2rem;
  width: 100%;
  box-sizing: border-box;
}
main .section-services .services-card {
  width: 30%;
  margin: 1%;
  padding: 2rem;
  border: 1px solid #ccc;
  transition: 0.3s;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
main .section-services .services-card:hover {
  border: none;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
main .section-services .services-card .fa-solid {
  color: #ff5200;
  display: block;
  margin: 1rem auto 1.5rem;
  font-size: 4rem;
}
main .section-services .services-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
main .section-services .services-card p {
  color: #8b8e94;
}
main .div-jobs {
  background-color: #e5eaff;
  padding: 3rem;
}
main .div-jobs h2 {
  margin-top: 2rem;
}
main .div-jobs .container-img-jobs {
  display: grid;
  padding: 2rem 0;
  margin: 0 2%;
  gap: 1%;
  height: 415px;
  grid-template-areas: "img1 img2 img3" "img1 img4 img5";
}
main .div-jobs .container-img-jobs .img-jobs {
  background-position: center;
  background-size: cover;
}
main .div-jobs .container-img-jobs #img1 {
  background-image: url(/img/job1.jpg);
  grid-area: img1;
}
main .div-jobs .container-img-jobs #img2 {
  background-image: url(/img/job2.jpg);
  grid-area: img2;
}
main .div-jobs .container-img-jobs #img3 {
  background-image: url(/img/job3.jpg);
  grid-area: img3;
}
main .div-jobs .container-img-jobs #img4 {
  background-image: url(/img/job4.jpg);
  grid-area: img4;
}
main .div-jobs .container-img-jobs #img5 {
  background-image: url(/img/job5.jpg);
  grid-area: img5;
}

/*# sourceMappingURL=style.css.map */
