%link-a-header-pattern {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-family: "Lato";

  &:hover {
    color: #ff5200;
  }
}
%btn-pattern {
  text-decoration: none;
  border: 1px solid transparent;
  transition: 0.3s;
  background-color: #ff5200;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    border: 1px solid #ff5200;
    background-color: transparent;
    color: #ff5200;
  }
}
%h2-pattern {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}
%p-pattern-jobs {
  color: #FFF;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 3rem 1rem 1rem;
  transition: .5s;
}
